* {
  width: 1400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
}
p {
  margin: 10px 0 0 20px;
}
.bg {
}
.bg-m {
  color: #ffff;
  text-align: center;
  background: linear-gradient(
      rgba(23, 194, 163, 0.488),
      rgba(23, 194, 163, 0.377)
    ),
    url(../img/photo-1541701494587-cb58502866ab.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow: hidden;
}
